#product-details {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 20px;
}

.item {
    display: flex;
    gap: 20px;
}

.img img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.details-item {
    flex: 1;
}

.price p {
    color: #3397ef;
}

.details-item h4 {
    text-decoration: underline;
}

#add-product {
    color: white;
    background-color: #3397ef;
    border: 2px solid white;
    padding: 10px 20px;
}